@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, body > div {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #1d3557;
}

a {
  text-decoration: none;
}

.input{
  background-color: hsl(355.5,77.6%,56.3%, .1) !important;
  padding: 10px;
  font-size: 20px;
  color: #1d3557;
}

input{
  background-color: hsla(0, 0%, 100%, 0) !important;
}