.loginBox{
    background-color: hsla(45, 20%, 96%, 0.177);
    backdrop-filter: blur(5px);
    padding: 50px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

.loginTitle{
    font-size: clamp(20px, 5vw + 2rem, 40px);
    color: white;
    padding-block-end: 20px;
}
.shapeBox{
    position: relative;
    z-index: 20;
    overflow: hidden;
}

.shapeBox::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(30px);
    z-index: -1;
  }
  

.shape{
    position: absolute;
    top: 30%;
    width:100vw;
    height: 100vh;
    aspect-ratio: 1/1;
    background-image: linear-gradient(to right, #e57bc6, #7d7be5);
    opacity: 0.5;
    clip-path: polygon(39% 20%, 100% 9%, 95% 48%, 48% 1%, 0% 48%, 0% 4%);
    filter: blur(10px);
    z-index: -2;
    -webkit-filter: blur(10px);
}

