.header{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-end: 20px;
    background-color: #ffb703;
}

.teamIcon {
    font-size: 26px;
    margin-inline-end: 15px;
}

.headerlink{
    font-size: 30px !important;
}